---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -bugprone-exception-escape,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -misc-use-anonymous-namespace,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -hicpp-signed-bitwise,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-type-cstyle-cast,
        -cppcoreguidelines-pro-type-union-access,
        -missing-field-initializers,
        -hicpp-uppercase-literal-suffix,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-uppercase-literal-suffix,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: '^[ijk_xyz]$'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'





